In [1]:
import pandas as pd
import numpy as np
import psycopg2

# Connect to the newyork database
conn = psycopg2.connect(
    dbname = 'newyork',
    user = '',
    password = '',
    host = 'localhost',
    port = '5432'
)

# Get the top 50 nodes by negative price occurence
query = f"SELECT node, COUNT(*) FROM realtime_lbmp WHERE price < 0 GROUP BY node ORDER BY COUNT(*) DESC LIMIT 50;"
df = pd.read_sql_query(query, conn)
best_nodes = list(df.node)

# There are 58'943'742 elements in the file, so roughly 80k points per node
query = f"SELECT * FROM realtime_lbmp WHERE node IN %s"
df = pd.read_sql_query(query, conn, params=(tuple(best_nodes),))[['time','node','price']]
df = df.sort_values(by='time')
conn.close()

/var/folders/0x/l1m3sdhn7r59npk394yrpzk40000gn/T/ipykernel_6778/509204445.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)
/var/folders/0x/l1m3sdhn7r59npk394yrpzk40000gn/T/ipykernel_6778/509204445.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=(tuple(best_nodes),))[['time','node','price']]

In [2]:
df['time'] = pd.to_datetime(df['time'])
df['hour'] = df['time'].dt.strftime('%Y-%m-%d %H')
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df

                       time                      node  price           hour
2340193 2023-09-01 00:05:00         NM_ST_REGIS___HYD  22.20  2023-09-01 00
2340184 2023-09-01 00:05:00       MARBLE_RIVER_WT_PWR  22.75  2023-09-01 00
2340185 2023-09-01 00:05:00        MCINTYRE_115KV_TB2  22.68  2023-09-01 00
2340186 2023-09-01 00:05:00        MID___RAQUETTE_HYD  22.00  2023-09-01 00
2340188 2023-09-01 00:05:00        NEG NORTH_FLCN_SEA  23.02  2023-09-01 00
...                     ...                       ...    ...            ...
2339715 2024-06-01 00:00:00       JERICHO_RISE_WT_PWR  14.90  2024-06-01 00
2339716 2024-06-01 00:00:00  KNTFSRNC_46_KV_46KV_LOAD  15.21  2024-06-01 00
2339717 2024-06-01 00:00:00        LAWRNCAV_115KV_TB1  14.77  2024-06-01 00
2339706 2024-06-01 00:00:00            CLINTON_WT_PWR  15.12  2024-06-01 00
2339949 2024-06-01 00:00:00          SITHE___OGDNSBRG  14.99  2024-06-01 00

[4011300 rows x 4 columns]

In [3]:
# Find the minimum length of prices
min_length = 1e9
for node in best_nodes:
    df_node = df[df.node==node]
    if len(df_node) < min_length:
        min_length = len(df_node)
print(f'The node with the least points has data for {min_length} time steps.')

# Set up as a dict and crop price lists at min_length
prices = {}
for node in best_nodes:

    # Get price by hour
    df2 = df[df.node==node][['hour','price']]
    hourly_avg = df2.groupby(['hour']).mean()

    prices[node] = [round(x,2) for x in list(hourly_avg.price)[:min_length]]

for key, value in prices.items():
    print(f'{key}: {value[:10]}...')

The node with the least points has data for 80226 time steps.
CLINTON_WT_PWR: [22.87, 20.28, 20.24, 19.43, 19.79, 22.73, 24.28, 23.25, 19.9, 18.58]...
CHATEAUG_WT_PWR: [22.87, 20.28, 20.24, 19.43, 19.79, 22.73, 24.28, 23.25, 19.9, 18.58]...
ELLENBURG_WT_PWR: [22.87, 20.28, 20.24, 19.43, 19.79, 22.73, 24.28, 23.25, 19.9, 18.58]...
JERICHO_RISE_WT_PWR: [22.8, 20.22, 20.18, 19.36, 19.72, 22.66, 24.2, 23.16, 19.84, 18.53]...
NORTH___COUNTRY_ESR: [22.8, 20.22, 20.18, 19.36, 19.72, 22.66, 24.2, 23.16, 19.84, 18.53]...
CHATEAUG_35_KV_LOAD: [22.88, 20.29, 20.24, 19.42, 19.78, 22.73, 24.28, 23.23, 19.89, 18.57]...
CHAT_HIGH_FALL_HYD: [22.88, 20.29, 20.24, 19.42, 19.78, 22.73, 24.28, 23.24, 19.89, 18.57]...
NEG NORTH_KES_CHATEGAY: [22.88, 20.29, 20.24, 19.42, 19.78, 22.73, 24.28, 23.23, 19.89, 18.57]...
NEG NORTH___ALICE_FALLS: [23.11, 20.48, 20.44, 19.64, 20.01, 22.97, 24.56, 23.56, 20.15, 18.78]...
NEG NORTH___LWR_SARANAC: [23.11, 20.48, 20.44, 19.64, 20.01, 22.97, 24.56, 23.56, 20.15, 18.78]...
NEG NORTH___PLATTSBURG: [23.11, 20.48, 20.44, 19.64, 20.01, 22.97, 24.56, 23.56, 20.15, 18.78]...
CLINTON___LFGE: [23.11, 20.48, 20.44, 19.64, 20.01, 22.97, 24.56, 23.56, 20.15, 18.78]...
KNTFSRNC_46_KV_46KV_LOAD: [23.11, 20.48, 20.44, 19.64, 20.01, 22.97, 24.56, 23.56, 20.15, 18.78]...
FALCON___SEABRD_CC1: [23.12, 20.5, 20.47, 19.67, 20.04, 23.0, 24.58, 23.58, 20.17, 18.79]...
FALCON___SEABRD_CC2: [23.12, 20.5, 20.47, 19.67, 20.04, 23.0, 24.58, 23.58, 20.17, 18.79]...
V_CMP_10_SYNC_DSASP: [23.11, 20.48, 20.45, 19.65, 20.03, 22.98, 24.56, 23.56, 20.15, 18.78]...
V_XM_10_SYNC_DSASP: [23.11, 20.48, 20.45, 19.65, 20.03, 22.98, 24.56, 23.56, 20.15, 18.78]...
MARBLE_RIVER_WT_PWR: [22.86, 20.27, 20.22, 19.42, 19.78, 22.72, 24.27, 23.25, 19.9, 18.58]...
ALTONA_WT_PWR: [22.98, 20.37, 20.33, 19.53, 19.9, 22.85, 24.42, 23.41, 20.03, 18.68]...
PLATSBRG_115KV_PMLD1: [23.11, 20.48, 20.45, 19.65, 20.03, 22.98, 24.56, 23.56, 20.15, 18.78]...
NEG NORTH_FLCN_SEA: [23.12, 20.5, 20.47, 19.67, 20.04, 23.0, 24.58, 23.58, 20.17, 18.79]...
MAPLE_RIDGE_WT_2: [22.79, 20.2, 20.14, 19.32, 19.67, 22.61, 24.13, 22.98, 19.67, 18.39]...
ROARING___BROOK_WT_PWR: [22.79, 20.2, 20.14, 19.32, 19.67, 22.61, 24.13, 22.98, 19.67, 18.39]...
MAPLE_RIDGE_WT_1: [22.79, 20.2, 20.14, 19.32, 19.67, 22.61, 24.13, 22.98, 19.67, 18.39]...
CH_RES_BVR_FALLS: [22.67, 20.11, 20.04, 19.23, 19.58, 22.5, 24.0, 22.89, 19.58, 18.3]...
V_CMM_10_SYNC_DSASP: [22.64, 20.11, 20.04, 19.21, 19.56, 22.48, 23.96, 22.87, 19.56, 18.28]...
AKWESSNE_115KV_BK: [22.66, 20.13, 20.06, 19.23, 19.58, 22.49, 23.99, 22.89, 19.58, 18.3]...
ST LAWRENCE____: [22.55, 20.03, 19.96, 19.14, 19.48, 22.38, 23.86, 22.77, 19.48, 18.2]...
ALCOA___DSASP: [22.72, 20.25, 20.18, 19.35, 19.7, 22.64, 24.05, 22.93, 19.61, 18.31]...
ALCOA_RYNLDS___DRP: [22.72, 20.25, 20.18, 19.35, 19.7, 22.64, 24.05, 22.93, 19.61, 18.31]...
ALCOA_PA_115KV_PL-6C: [22.72, 20.25, 20.18, 19.35, 19.7, 22.64, 24.05, 22.93, 19.61, 18.31]...
SITHE___MASSENA: [22.72, 20.25, 20.18, 19.35, 19.7, 22.64, 24.05, 22.92, 19.6, 18.31]...
HQ_GEN_CEDARS_PROXY: [22.65, 20.24, 20.17, 19.34, 19.69, 22.63, 23.98, 22.86, 19.55, 18.26]...
HQ_GEN_CEDARS: [22.65, 20.24, 20.17, 19.34, 19.69, 22.63, 23.98, 22.87, 19.55, 18.26]...
LAWRNCAV_115KV_TB1: [22.26, 19.87, 19.79, 18.97, 19.34, 22.23, 23.59, 22.48, 19.22, 17.93]...
BRADY____115KV_TB2: [22.78, 20.3, 20.22, 19.38, 19.74, 22.71, 24.14, 22.98, 19.61, 18.27]...
PYRITES___HYD: [22.68, 20.19, 20.09, 19.25, 19.63, 22.59, 24.01, 22.82, 19.46, 18.1]...
MCINTYRE_115KV_TB2: [22.81, 20.32, 20.23, 19.38, 19.75, 22.73, 24.16, 23.0, 19.58, 18.22]...
SITHE___OGDNSBRG: [22.8, 20.31, 20.23, 19.38, 19.75, 22.72, 24.15, 22.99, 19.6, 18.23]...
LITTLRIV_115KV_TB1: [22.52, 20.07, 19.98, 19.15, 19.52, 22.46, 23.86, 22.7, 19.36, 18.03]...
SISSONVILLE____: [22.14, 19.75, 19.67, 18.85, 19.22, 22.1, 23.46, 22.36, 19.11, 17.82]...
LOWER RAQUET___HYD: [22.14, 19.75, 19.67, 18.85, 19.23, 22.1, 23.46, 22.36, 19.11, 17.82]...
MID___RAQUETTE_HYD: [22.14, 19.75, 19.67, 18.85, 19.22, 22.1, 23.46, 22.36, 19.11, 17.82]...
PIERCEFIELD___HYD: [22.14, 19.75, 19.67, 18.85, 19.22, 22.1, 23.46, 22.36, 19.11, 17.82]...
UPPER RAQUET___HYD: [22.14, 19.75, 19.67, 18.85, 19.23, 22.1, 23.46, 22.36, 19.11, 17.82]...
NM_ST_REGIS___HYD: [22.33, 19.89, 19.82, 19.0, 19.36, 22.26, 23.68, 22.59, 19.31, 18.01]...
FRANKLIN_FALL_HYD: [22.81, 20.25, 20.18, 19.36, 19.72, 22.68, 24.21, 23.16, 19.82, 18.5]...
MALONE___115KV_TB1: [22.81, 20.25, 20.18, 19.36, 19.72, 22.68, 24.21, 23.16, 19.82, 18.5]...
N SALMON___HYD: [22.81, 20.25, 20.18, 19.36, 19.72, 22.68, 24.21, 23.16, 19.82, 18.51]...
HAMPSHIRE___PAPER_HYD: [22.5, 19.99, 19.89, 19.04, 19.43, 22.34, 23.84, 22.68, 19.39, 18.07]...

In [4]:
# Save the hourly data to CSV
df_for_csv = pd.DataFrame(prices)
df_for_csv.index = pd.to_datetime(list(hourly_avg.index))
df_for_csv.reset_index(inplace=True)
df_for_csv.rename(columns={'index': 'Time'}, inplace=True)
df_for_csv.to_csv('hourly_data.csv', index=False)